@import "tailwindcss";

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    
    background-color: #E8F5FF; 
  }
   */

   html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
    
    background-color: #E8F5FF; 
  }

  /* Desktop Parallax */
@media (min-width: 769px) {
  body {
    background: url('/bg-desktop.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

/* Mobile Parallax */
@media (max-width: 768px) {
  body {
    background: url('/bg-mobile.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}